{% load static %}

<li>
    <article id="post">
        <a href="">
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="mountain hiking">
            <div id="post__content">
                <h3>mountain hiking</h3>
                <p>There's nothing like views. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi asperiores quisquam nisi ratione, harum non corporis delectus minus, dicta consequuntur accusamus, odit ex in quod!</p>
            </div>
        </a>
    </article>
</li>