{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock css_files %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{%static 'blog/images/logo.png' %}" alt="shuvo-the author of everythong">
            <p>Hi, I am shuvo and i love to blog about tech and the world!</p>
        </header>
    </section>

    <section id="latest-posts">
        <h2>My latest thoughts</h2>
        <ul>
            {% include 'blog/includes/post.html' %}
        </ul>
    </section>
    <section id="about">
        <h2>What I do</h2>
        <p>I love to help others and I enjoy recognizing</p>
        <p>If you want others to be happy, practice compassion. If you want to be happy, practice compassion.</p>
    </section>
{% endblock content %}